<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildIt Login!</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/navbar.css"> <!-- navbar styler only. -->
    <script src = '../../profiles.js'> </script>
</head>
<body>
    
{{{body}}}

</body>
</html>
<script>
   {{{script}}}

</script>   