<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuildIt Login!</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/navbar.css"> <!-- navbar styler only. -->
    <script src = '../../profiles.js'> </script>
</head>
<body>
<header>
        <div class="nav-container">
            <a href="/">
                <img src="assets/logo.png" alt="Logo" height="40">
            </a>
            <nav class="navigation">

                <ul class="nav-items">
                    <li><a href="createPc">Create pc</a></li>
                    <li><a href="">Upgrade</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Something...</a></li>
                </ul>
            </nav>
            <a class = "loginref" href="login"> <img src="../../assets/avatar.png" alt="login" height="40"></a>

        </div>
    </header>

    <div class = "mobile-nav">
        <label class="hamburger">
            <input type = "checkbox"/>
        </label>
        <aside class = "sidebar">
            <nav>
                <a href="login"> <img src="../../assets/avatar.png" alt="login" height="40"></a>
                <ul>
                    <li><a href="createPc">Create pc</a></li>
                    <li><a href="">Upgrade</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Something...</a></li>
                <ul>
            </nav>
        </aside>
    </div>
{{{body}}}

</body>
</html>
<script>
   {{{script}}}
</script>   