<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/community.css">
    <title>Community Page</title>
</head>

<body>
    {{!-- Search Bar --}}
    <div id="searchDiv">
        <div id="searchBar">
            <input type="text" id="searchText" placeholder="We are going to build it">
            <button id="searchButton"> <img src="assets/magGlass.png" style="width:25px;" alt=""> </button>
            <button id="filterButton"><img src="assets/filter.png" style="width: 25px;" alt=""></button>
        </div>
    </div>
    {{!-- Search Bar --}}
    {{!-- Filter below search bar as tags or Filters here? because It does not feel right-
    -to have "post" cards take the whole width of the page --}}
    <main id="">
        {{!-- Filter side --}}
        <div id="leftD">
            <h1>Filters</h1>

            <div id="filterContainer">
                <button id="setUpFilter">Set Ups <p>1</p></button>

                <button id="questionFilter">Questions <p>12</p></button>

                <button id="productsFilter">Products <p>1.2k</p></button>

                <button id="trendingFilter">Trending <p>3</p></button>

                <button id="HighviewsFitler">Highly viewed <p>45</p></button>
            </div>
        </div>
        {{!-- Posts Div --}}
        <div id="midD">

            <h1>Community Posts</h1>

            <div id="posts">
                {{!-- Template --}}
                
            </div>
        </div>
        {{!-- HUH? stats? recommendations? --}}
        <div id="rightD">
        </div>

    </main>
    <script src="scripts/community.js"></script>



</body>
{{!-- <div class="card">
                    <figure>
                        <img src="assets/setUp.jpeg" alt="">
                    </figure>
                    <figcaption>
                        <div id="userPost">
                            <img src="assets/loginIcon.png" alt="">
                            <p>Username</p>
                        </div>
                        <h1>TITLE</h1>
                        <h2>Cost</h2>
                        <h3>Note</h3>
                        <div id="postTags">
                            <div class="pTag">Questions</div>
                            <div class="pTag">Questions</div>
                            <div class="pTag">Questions</div>
                            <div class="pTag">Questions</div>
                        </div>
                    </figcaption>
                    <div id="postStats">
                        <div id="postData">
                            <p>Created in 29 Nov</p>
                        </div>
                        <div id="stats">
                            <div id="postRating">
                                <img src="assets/ratingStar.png" alt="">
                                <p>4.3</p>
                            </div>
                            <div id="postComments">
                                <img src="assets/comment.png" alt="">
                                <p>120</p>
                            </div>
                            <div id="postViews">
                                <img src="assets/views.png" alt="">
                                <p>4k</p>
                            </div>
                        </div>

                    </div>

                </div> 
--}}
</html>