<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title></title> --}}
    {{!--
    <link rel="stylesheet" href="css/createPost.css"> --}}
    <link rel="stylesheet" href="css/createPost2.css">
</head>

<body>

    <div id="formBackgorund">

        <form id="form">

            {{!-- <span style="display:none" id="userID">{{userID}}</span> --}}
            <h1>Create a post</h1>

            <div id="outerFrame">

                <div class="formElement">

                    <h2>Tags:</h2>

                    <div class="" id="formTag">

                        <article>
                            <input type="checkbox" name="tag" id="sTag">
                            <div><span>Setups</span></div>
                        </article>

                        <article>
                            <input type="checkbox" name="tag" id="qTag">
                            <div><span>Questions</span></div>
                        </article>

                        <article>
                            <input type="checkbox" name="tag" id="pTag">
                            <div><span>Products</span></div>
                        </article>
                    </div>
                    <div class="errorMes"></div>

                </div>

                <div class="formElement" id="postTitle">
                    <h2>Title:</h2>
                    <input class="inputT" type="text" name="Title" id="pTitle">
                    <div class="errorMes"></div>
                </div>

                <div class="formElement" id="postNote">
                    <h2>Note:</h2>
                    <input class="inputT" type="text" name="Note" id="pNote">
                </div>

                <div class="formElement" id="postCost">
                    <h2 style="display: flex;">Cost ($):</h2>
                    <input class="inputT " type="number" name="Cost" min="0" id="pCost">
                    <div class="errorMes"></div>
                </div>

                <div class="formElement" id="postCol">
                    <h2>Select your collection:</h2>
                    <select class="inputT " name="Collection" id="userCollection" value="None">
                        <option value="None">None</option>
                        {{!-- User's Collections --}}
                    </select>
                </div>


                <div class="formElement" id="picPrompt">

                    <h2>Post's cover picture:</h2>
                    <label for="uploadFile" class="uploadButton">
                        <input type="file" onchange="showImage(this)" name="Image" accept="image/*" multiple="false" id="uploadFile">
                        <div class="upload" id="Pprompt">
                            <p>Upload</p>
                            <img src="assets/upload.png" alt="">
                        </div>
                    </label>
                   <div id="picView">
                        {{!-- Image Selected --}}
                   </div>

                </div>


                {{!-- <div class="formElement" id="prodPrompt">
                    <h2>Add product:</h2>
                    <label for="uploadProd" class="uploadButton">
                        <input type="file" onchange="showProd(this)" name="Products" accept="image/*" multiple="true" id="uploadProd">
                        <div class="upload" id="Pprompt">
                            <p>Upload</p>
                            <img src="assets/upload.png" alt="">
                        </div>
                    </label>
                    <div id="prodDiv">
                        Products 
                    </div>
                </div> --}}
            
                <div class="formElement">
                    <h2>Body:</h2>
                    <textarea name="Body" id="notes" cols="30" rows="10"></textarea>
                </div>

                <button type="submit" id="createPost">
                    Create Post
                </button>

            </div>

        </form>{{!previously form}}


    </div>
    <script src="scripts/createPost.js"></script>
</body>

</html>