<!DOCTYPE html>
<html>

<head>

    <script type="module" src="scripts/openAi.js"></script>
    <script type="module" src="scripts/generated.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="css/generated.css">
</head>

<body>
    <div id="notification"
        style="display: none; position: fixed; top: 20px; left: 50%; transform: translateX(-50%); background: rgba(76, 175, 80, 0.9); color: white; padding: 10px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.2); z-index: 1000; min-width: 250px; text-align: center;">
        <span id="notification-message">Notification Message</span>
        <button onclick="closeNotification()"
            style="margin-left: 20px; background-color: transparent; color: white; border: none; cursor: pointer;">×</button>
    </div>

    <div id="loading-screen">
        <div class="loading-container">
            <div class="loaders">
                <div class="loading-square"></div>
                <div class="loading-square"></div>
                <div class="loading-square"></div>
                <div class="loading-square"></div>
            </div>
            <div class="loading-text">Finding best parts...</div>
        </div>
    </div>
    <div id="content-container">



        <div id="results-container">
            <div id="pc-components"></div>
            <p style="text-align: center;">Please note that the listed prices are estimates and may not reflect the
                precise cost. Remember to consider the VAT and additional taxes applicable in your region.</p>
            <button class="btn-save" id="saveButton" onclick="savePC()">SAVE</button>
        </div>


        <div class="performance-container">

        </div>
        <!-- The Popup -->
        <div id="successPopup" class="popup">
            <!-- Popup content -->
            <div class="popup-content">
                <span class="close">&times;</span>
                <p>PC collection saved successfully!</p>
                <p>you can always view it from you profile.</p>
            </div>
        </div>

    </div>

</body>

</html>