<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/generatedUpgrade.css">
    <script type="module" src="../scripts/upgradeAi.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="module" src="../scripts/generated.js"></script>
</head>

<body>
    <div id="loading-screen">
        <div class="loading-container">
            <div class="loaders">
                <div class="loading-square"></div>
                <div class="loading-square"></div>
                <div class="loading-square"></div>
                <div class="loading-square"></div>
            </div>
            <div class="loading-text">Finding best parts...</div>
        </div>
    </div>

    <div id="content-container">



        <div id="results-container">
            <div id="pc-components"></div>
        </div>

        <div class="performance-container">

        </div>

    </div>

</body>

</html>