<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build it</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Mina&display=swap" rel="stylesheet">
</head>

<body>
    <div class="Hero">
        <div class="main-content">
            <div class="welcome">
                Ready to Build Your Dream PC?
            </div>

            <div class="slideshow-container">
                <div class="slides fade">

                    Building or Upgrading your dream PC? Overwhelmed with options?<br>
                    BuildIt's AI does the thinking for you!

                </div>

                <div class="slides fade">

                    Show your setup off or gain inspiration<br>
                    from others in our community page!

                </div>

                <div class="slides fade">

                    Join a community of PC enthusiats now!<br>

                </div>

            </div>

            <button class="fancy-button">Begin Now</button>

        </div>
        <div class="pcPic">
            <img src="../assets/pcPic.png" alt="" height="612px">
        </div>
    </div>

</body>

<script type="module" src="scripts/slideshow.js"> </script>

</html>