<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build it</title>
</head>
<body>
        <div class="Hero">
            <div class="main-content">
                <div class="welcome">
                    Ready to Build <br> Your Dream PC?
                </div>
                <div class="intro">
                    Join our community of PC enthusiasts and start your PC building journey today!
                </div>
                <button class="fancy-button">Begin Now</button>

            </div>
            <div class="pcPic">
                <img src="../assets/pcPic.png" alt="" height="612px">
            </div>
        </div>

</body>

</html>