<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part Request</title>
    <link rel="stylesheet" href="css/request.css">
</head>
<body>
    <div id="notification">
        <span id="notification-message">Your request has been sent successfully!</span>
        <button onclick="closeNotification()">×</button>
    </div>

    <div class = 'main'>
        <div class = 'left'>
            <h1>Need Assistance With Assembly? <span>Make a Request!</span></h1>
            <img src="../assets/requestpage/workers.png">
        </div>
        
        <div class="request-form-container">

            <p class="description-text">
                Our team will contact you on WhatsApp for further specifications to assist you!            
            </p>
            <p class = 'notegt'>
                Please note, assembling your custom PC may take anywhere from 7 to 14 days. We appreciate your patience and are excited to assist you in building your ideal PC setup!
            </p>
            <form id="partRequestForm">
                <input type="text" id="name" name="name" placeholder="Your Name" required>
                <input type="tel" id="phone" name="phone" placeholder="Your Phone Number (for WhatsApp)" required>
                <textarea id="partDetails" name="partDetails" placeholder="Describe the part you need" required></textarea>
                <button type="submit">Send Request</button>
            </form>
        </div>
    </div>


    <script type="module" src="scripts/request.js"> </script>
</body>
</html>