''<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade</title>
    <link rel="stylesheet" href="../css/upgrade.css">
</head>
<body>
    <div id="progress-bar"></div>


    <div id="question1" class="question-container active">
        <div class="question">
            <button class="back-button-fistOne" onclick="previousQuestion()"> </button>
            What is Your Budget?
            <button onclick="nextQuestion()">Next</button>
        </div>

        <div class="bar">
            <input type="range" id="answer1" min="0" max="50" value="0" oninput="updateValue(this.value)">
            <span id="budgetDisplay">$0 </span>
        </div>
    </div>

    <div id="question2" class="question-container">
        <div class="question">
            <button class="back-button" onclick="previousQuestion()">
                < </button>
                        Current PC Specifications
                    <button onclick="nextQuestion()">Next</button>
        </div>

        <div class = "form-container">
            <form>
                <h1> Core Components </h1>
                <div class = "core">
                    <div class ="card">
                        <img src="../assets/upgradeIcons/motherboard.png">
                        <label for="motherboard"> Motherboard </label><br>
                        <input list="mbdata" id="motherboard" name="motherboard" placeholder="Select Motherboard"> 
                        <datalist id = "mbdata"> </datalist>
                    </div>

                    <div class ="card">
                        <img src="../assets/upgradeIcons/cpu.png">
                        <label for="cpu"> CPU </label><br>
                        <input list="cpudata" id="cpu" name="cpu" placeholder="Select CPU"> 
                        <datalist id = "cpudata"> </datalist>
                    </div>

                    <div class ="card">
                        <img src="../assets/upgradeIcons/videocard.png">
                        <label for="gpu"> Graphics Card </label><br>
                        <input list="gpudata" id="gpu" name="gpu" placeholder="Select GPU"> 
                        <datalist id = "gpudata"> </datalist>
                    </div>

                    <div class ="card">
                        <img src="../assets/upgradeIcons/hdd.png">
                        <label for="hdd"> External Hard Drive (HDD) </label><br>
                        <input list="hdddata" id="hdd" name="hdd" placeholder="Select HDD"> 
                        <datalist id = "hdddata"> </datalist>
                    </div>

                    <div class ="card">
                        <img src="../assets/upgradeIcons/powersupply.png">
                        <label for="power"> Power Supply </label><br>
                        <input list="powerdata" id="power" name="power" placeholder="Select Power Supply"> 
                        <datalist id = "powerdata"> </datalist>
                    </div>

                    <div class ="card">
                        <img src="../assets/upgradeIcons/fan.png">
                        <label for="casefan"> Case Fan </label><br>
                        <input list="casefandata" id="casefan" name="casefan" placeholder="Select Case Fan"> 
                        <datalist id = "casefandata"> </datalist>
                    </div>

                    <div class ="card">
                        <img src="../assets/upgradeIcons/ram.png">
                        <label for="ram"> RAM (Memory) </label><br>
                        <input list="ramdata" id="ram" name="ram" placeholder="Select RAM"> 
                        <datalist id = "ramdata"> </datalist>
                    </div>

                </div>
                
                <h1> Additional Components</h1>
                <div class = "extra">
                    
                    <div class ="card">
                        <img src="../assets/upgradeIcons/ssd.png">
                        <label for="ssd"> Internal Hard Drive (SSD) </label><br>
                        <input list="ssddata" id="ssd" name="ssd" placeholder="Select SSD"> 
                        <datalist id = "ssddata"> </datalist>
                    </div>

                    <div class ="card">
                        <img src="../assets/upgradeIcons/monitor.png">
                        <label for="monitor"> Monitor </label><br>
                        <input list="monitordata" id="monitor" name="monitor" placeholder="Select Monitor"> 
                        <datalist id = "monitordata"> </datalist>
                    </div>

                    <div class ="card">
                        <img src="../assets/upgradeIcons/caseLogo.png">
                        <label for="case"> Case </label><br>
                        <input list="casedata" id="case" name="case" placeholder="Select Case"> 
                        <datalist id = "casedata"> </datalist>
                    </div>

                </div>
            </form>
        </div>


    </div>
    
    <div id="question3" class="question-container">
        <div class="question">
            <button class="back-button" onclick="previousQuestion()">
                < </button>
                        Select Option:
                    <button onclick="nextQuestion()">Next</button>
        </div>

        <div class ="firstprompt">

            <div class = "left">
                <h1> Upgrade Specific Parts </h1>
                <div class = "choices-container">
                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/motherboard.png">
                            <label class="container">Motherboard
                            <input type="checkbox" name="motherboard">
                            <span class="checkmark"></span>
                            </label>    
                        </div>

                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/cpu.png">
                            <label class="container">CPU
                            <input type="checkbox" name="cpu">
                            <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/videocard.png">
                            <label class="container">GPU
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/hdd.png">
                            <label class="container">HDD
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/powersupply.png">
                            <label class="container">Power Supply
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/fan.png">
                            <label class="container">Case Fan
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/ram.png">
                            <label class="container">RAM
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
                        </div>
                                     
                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/ssd.png">
                            <label class="container">SSD
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/monitor.png">
                            <label class="container">Monitor
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class ="cardq3">
                            <img src="../assets/upgradeIcons/caseLogo.png">
                            <label class="container">Case
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
                        </div>
                </div>
                <button onclick="nextQuestion()">Next</button>
            </div> 

            <div class = "right">
                <h1> Upgrade Entire PC </h1>
            </div>

        </div>

    </div>

    <div id="question4" class="question-container">
        <div class="question">
            <button class="back-button" onclick="previousQuestion()">
                < </button>
                        Specific Issues:
                    <form method="POST" action="/generated/upgrade" id="submitSpecs">
                        <button onclick="submitForm()" class="btn-submit">Submit</button>
                    </form>
        </div>

        <p> *Leave empty if there are no specific issues</p>
        <div class = "answer-container">
            <input id = "answer-container" type="text">
        </div>


    </div>

</body>
<script type="module" src="../scripts/upgrade.js"></script>
</html>''