body{
    background: rgb(255,127,80);
    background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(164, 189, 203) 90%);
}
#formBackgorund{
    border:0px;
    border-top:1px solid black;
    display: flex;
    justify-content: center;
    
}
#form{
    padding: 1.5em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    text-transform: uppercase;
}
h1{
    color: #f5793b;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(116, 115, 115);
}
#outerFrame{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border:2px solid black;
    border-radius:15px;
    padding:1em;
}
.formElement{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap:0.5em;

}
#formTag{
    display: flex;
    flex-wrap: wrap ;
    gap: 0.3em;
    padding: 0.3em;
    border-radius: 10px;
    border: 2.3px solid #7a878e;
    background-color: #98aab4;
}


#formTag article{
    position: relative;
    display:flex;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    height: 2em;
    font-size: x-large;
    background-color: white;
    
}
#formTag article div{
    transition: .2s ease;
    width: 100%;
    height:100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#formTag input{
    opacity: 0;
    width: 100%;
    height:100%;
    cursor: pointer;
    position: absolute;
}

#sTag:checked ~ div{
    background:rgb(83, 83, 177);
    color:white;
}

#qTag:checked ~ div{
    background:rgb(160, 83, 177);
    color:white;
}


#pTag:checked ~ div{
    background:rgb(83, 177, 103);
    color:white;
}


.inputT{
    width:100%;
    height: 2.3em;
    font-size: x-large;
    border-radius: 10px;
    border: .1em solid #7a878e;
    background-color: #98aab4;
    padding: 0.5em;
}
.inputT:focus{
    outline: none;
}
#notes{
    
    font-size: x-large;
    width:100%;
    height:4em;
    border-radius: 10px;
    border: .12em solid #7a878e;
    background-color: #98aab4;
    max-width: 100%;
    max-height: 6em;
    min-width: 50%;
    min-height: 2em;
    padding: 0.1em;
    
    
}
#notes:focus{
    outline:none;
    
}
input[type="file"]{
    display: none;
}

.uploadButton{
    background-color: #f5793b;
    width: 19em;
    height: 2.7em;
    display: flex;
    border: 0px;
    border-radius: 0.2em;
    align-items: center;
    justify-content: center;
    box-shadow:  2px 2px 2px gray;
    cursor: pointer;
}
.uploadButton img{
    width: 1.6em;
    height: 1.6em;
}
.upload{
    display: flex;
    color: white;
    font-size: large;
    gap: 0.8em;
    align-items: center;
}
.uploaded{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: .12em solid #7a878e;
    overflow:hidden ;
    transition: scale  0.3s;
}
.uploaded:hover{
    scale: 100.5%;
}
.UpPic{
    width: 8em;
    height: 7em;
}
#UpPicName{
    font-size: larger;
}
.prodCost{
    display: flex;
    /* justify-content: center; */
    gap: 0.2em;
    align-items: center;
}
.prodCost input[type='number']{
    font-size: large;
    width: 6em;
    padding: 5px;
    border: 1px solid #7a878e;
   
}
.prodName{
    font-size: larger;
    width: 12em;
    padding:5px;
    border: 1px solid #7a878e;
    
}
.prodName:focus{
    outline:none;
}
.prodCost span{
    /* $ */
}
.prodCost input:focus{
    outline: none;
    
}
.prodCost img{
    width:2em;
    cursor:pointer;
}
.remImage{
    width: 3em;
    padding-right: 0.4em;
    cursor:pointer;
}
.remImage:hover{
    
}
#postCost{
    display: none;
}
#pCost::-webkit-inner-spin-button{
    display: none;
}
#postCol{
    display:none;
}
.errorMes{
    text-transform: lowercase;
    color:red;
    font-size: medium;
}
.errorMes::first-letter{
    text-transform: capitalize;
}
.CorrInput{
    border-color: green;
}
.WrongInput{
    border-color: red;
}
#createPost{
    background-color: #f5793b;
    color:white;
    font-size: xx-large;
    padding: 0.1em;
    border: 0px;
    border-radius: 0.2em;
    box-shadow:  2px 2px 2px gray;
    cursor: pointer;

}
