body {
    background: linear-gradient(to right, #f8f9fa, #ffffff);
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#progress-bar {
    width: 0%;
    height: 5px;
    background-color: coral;
    transition: width 1s;
}

.question-container {
    padding: 100px;
    display: none;
    transition: opacity 1s;
    max-width: 1200px;
    margin: auto;
    min-height: 200px;
    background-color: #ffffff;
    /* Change to white */
    overflow: auto;
    border-radius: 8px;
    /* Add a slight border radius */
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    /* Add a light box shadow */
}

.question {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* just to remove the first back button from first question  */
.back-button-fistOne {
    visibility: hidden;
}

.question-container.active {
    display: block;
    opacity: 1;
}

button {
    background-color: #ff5722;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
    justify-content: start;
}

button:hover {

    background-color: #ff764d;
}

p {
    font-size: 28px;
    /* Increase font size */
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    /* Make the text bold */
}



.back-button {
    float: left;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 20px;
}

.back-button:hover {
    background-color: #efefef;

}

input[type="range"] {
    width: 90%;
    height: 15px;
    margin: 10px 10px;
}




/* =======================  Question 1 ================================ */
#budgetDisplay {
    font-size: 20px;
    color: #333;
    display: inline-block;
    margin-left: 10px;
}



.options-container {
    padding: 10px;
    display: flex;
}

.options-container .option {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.options-container .option:hover {
    border-color: #666;
    background-color: #f0f0f0;
}

.options-container .option.active {
    border-color: #666;
    background-color: #ddd;
}

.bar {
    padding: 0px 0px 0px 0px;
}




/* Question 2: */

.types-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.type {
    margin: 10px;
    text-align: center;
    transition: transform .2s;
    cursor: pointer;
    padding: 10px;
    /* Add padding */
}

.type img {
    width: 100px;
    height: 100px;
}

.type p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.type:hover {
    transform: scale(1.1);
}

.type.selected {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 8px;
    /* Adjust padding to accommodate border */
}


input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    /* Increase font size */
}

/* question 3 */

.sizes-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.size {
    /* flex: 1 0 30%; */
    margin: 10px;
    text-align: center;
    transition: transform .2s;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Align items at the bottom */
}

.size img {
    margin-bottom: 10px;
}

.size .mini-tower {
    height: 120px;
}

.size .mid-tower {
    height: 140px;
    /* Medium image */
}

.size .full-tower {
    height: 180px;
    /* Larger image */
}

.size p {
    font-size: 18px;
    color: #333;
}

.size:hover {
    transform: scale(1.1);
}

.size.selected {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 8px;
}



/* q444444444444444444 */

.q4-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    /* Add some padding on the left and right */
    margin-top: 50px;
}

.option {
    flex: 0 0 20%;
    /* Make the cards smaller */
    padding: 10px;
    margin: 10px 2%;
    /* Add some margin around the cards */
    text-align: center;
    transition: transform .2s;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.option:hover {
    transform: scale(1.1);
    border-color: #333;
}

.option.selected {
    border: 2px solid #333;
}


/* ======================== Question 5 ================================ */

.q5-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.q5-options .option {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.3s ease;
}

.q5-options .option:hover {
    border-color: #666;
}

.q5-options .option.active {
    border: 2px solid #333;
}



@media screen and (max-width:600px) {
    .question-container.active {
        padding: 60px 10px 0px 10px;
        display: flex;
        opacity: 1;
        flex-direction: column;
    }

    .back-button-fistOne {
        display: none;
    }

    .question {
        scale: 85%;
        text-align: center;
    }

    .question button {
        margin: 0px 15px;
    }

    .sizes-container {
        flex-wrap: wrap;
    }
}