@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}




.welcome {
    color: coral;
    padding: 70px 70px 35px 70px;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.2px;
    text-align: center;
    text-shadow: 2px 2px 2px #CCCCCC;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.fancy-button {
    margin-top: 10px;
    font-size: 20px;
    height: 3rem;
    width: 10rem;
    text-transform: uppercase;
    background-color: coral;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 0px 4px 14px 3px rgba(0, 0, 0, 0.207);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;

    font-weight: bold;
}

.fancy-button:hover {
    background-color: coral;
    box-shadow: 0px 4px 14px 3px coral;
}


.Hero {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 60px;
    background: linear-gradient(to bottom, #a4bdcb, #ffffff, #F0F5F9);

    /* gradient background */
}


.main-content {
    display: flex;
    max-width: 768px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 4px; */
    /* align-self: stretch; */
    color: var(--gray-600, #4B5563);
    animation: fadeIn 2s ease-in-out 1;

}

.pcPic {
    align-self: center;
    justify-self: center;
    max-width: 768px;
    animation: updown 5s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

.slides {
    display: none;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #CCCCCC;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/* Mobile View */
@media screen and (max-width: 600px) {

    html,
    body {
        width: 100%;
        height: 100%;
    }

    .main-content {
        flex-direction: column;
        scale: 85%;
        margin: 4px 40px;
    }

    .pcPic img {

        scale: 50%;

    }

    .Hero {
        flex-direction: column;
        height: fit-content;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .welcome {
        font-size: 42px;
        width: 100%;
        padding: 0;
        padding: 70px 0px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}