body {
    font-family: 'Arial', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(to top, rgba(255,255,255,1) 75%, #7fa8bb 100%);
}

.request-form-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width:40%;
    margin: 0 auto;
    padding: 50px;
    margin-top:170px;

}

#partRequestForm input,
#partRequestForm textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

#partRequestForm button {
    background-color: #ff7f50; /* Orange color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    width: 50%;
    padding: 8px;
    margin-left: 25%;
    border-radius: 5px;
    transition: background-color 0.5s;
}

#partRequestForm button:hover {
    background-color: #e56740; /* Darker orange */
}

#notification {
    display: none; /* Initially hidden */
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffa500; /* Orange background */
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
    min-width: 250px;
    text-align: center;
}

#notification button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.description-text {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.5;
    color: coral;
    text-shadow: 2px 2px 2px #CCCCCC;
}

.note{
    color: black;
    font-size: 18px;
    text-align:left;
    font-weight: bolder;
    margin-bottom: 15px;
}

.main{
    height: 100%;
    display:flex;
    flex-direction: row;
    
}

.left{
    width: 70%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

    
}
.left img{
scale:75%;
margin-top:0px;
padding-top:0px;
border-radius: 8px;
}

.left h1{
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 2px 2px 2px #CCCCCC;
    margin-top:200px;
    margin-bottom:0px;
    animation: updown 5s infinite;
}

.left h1 span{
    color: coral;
}

@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}


@media screen and (max-width: 600px) {
    .main{
        flex-direction: column;
        align-items: center;
    }

    .left{
        width: 100%;
    }


    .left h1{
        margin-top:40px;
        font-size: 26px;
        width: 100%;
    }
    

    .left img{
        display:none;
        }

    .request-form-container {
        width: 100%;
        margin-top: 20px;
        padding:0;
    }

    .description-text{
        margin-bottom: 0;
    }
    p{
        scale:70%
    }

    #partRequestForm{
        padding: 20px 50px;
    }

}