

#progress-bar {
    width: 0%;
    height: 5px;
    background-color: coral;
    transition: width 1s;
}

.question-container {
    padding: 100px;
    display: none;
    transition: opacity 1s;
    max-width: 1200px;
    margin: auto;
    min-height: 200px;
    background-color: #ffffff;
    /* Change to white */
    overflow: auto;
    border-radius: 8px;
    /* Add a slight border radius */
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    /* Add a light box shadow */
    justify-content:center ;
}

.question-container.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    margin-top:5%;
    border-radius: 15%;
}

.question {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    padding:0;
    align-items: center;
    justify-content: space-around;
    border-bottom:coral solid 2px;
    padding-bottom:20px;
}


/* just to remove the first back button from first question  */
.back-button-fistOne {
    visibility: hidden;
}


button {
    background-color: #ff5722;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
    justify-content: start;
}

button:hover {

    background-color: #ff764d;
}

p {
    font-size: 28px;
    /* Increase font size */
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    /* Make the text bold */
}



.back-button {
    float: left;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 20px;
}

.back-button:hover {
    background-color: #efefef;

}

input[type="range"] {
    width: 90%;
    height: 15px;
    margin: 10px 10px;
}


hr{
    width: 50%;
}

/* =======================  Question 1 ================================ */
#budgetDisplay {
    font-size: 20px;
    color: #333;
    display: inline-block;
    margin-left: 10px;
}


.bar {
    padding: 0px 0px 0px 0px;
}


/* =======================  Question 2 ================================ */

.form-container{
display:flex;
flex-direction: column;
justify-content: center;

}

.core{
display:flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 20px;;
margin-bottom:20px;
border-bottom:dotted coral 2px;
justify-content: center;
}

.extra{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;;
    margin-bottom:20px;
    justify-content: center;
}

.card{
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    gap:4px;
    color:coral;
    font-weight: bold;
    margin:12px;
    border:solid black 1px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15%;
    padding:20px;
    transition:scale 0.5s;
    max-width: 215px;
}

.card:hover{
    scale:110%;
}

.card img {
    scale:80%;
    max-height: 138px;
    max-width: 138px;
    padding-left: 27px;
}

form h1 {
    color:coral;
    text-align: center;
    text-shadow: 0px 1px 1px black;
}

/* =======================  Question 3 ================================ */

.choices-container{
    display:none;
    }

.firstprompt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:100px;
    transition: height 1.5s;
}

.right, .left{
    margin:0px 10px;
    width: 50%;
    height: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right:hover, .left:hover{
    scale:105%;
    transition:scale 0.5s;
    border:solid 1px #333;
    border-radius: 15%;


}

.right.selected{
    border: 2px solid #333333;
    border-radius:15%;
    height:100px;
}

.left.selected{
    border: 2px solid #333333;
    border-radius:15%;
    height:800px;
    transition: height 2s, width 2s;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.firstprompt.leftselected{
    height:800px;
}

.left button{
    display:none;
}

.left.selected button{
    margin-right: 37%;
    margin-top:10px;
    width: 101px;
}

#question3 h1{
    text-align: center;
    color:coral;
    cursor: pointer;
    padding-top:10px;
}
.cardq3{
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    color:coral;
    font-weight: bold;
    margin:12px;
    border:solid black 1px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25%;
    transition:scale 0.5s;
    width: 25%;
    height: 25%;
    max-width: 101px;
    max-height: 140px;
 
}

.cardq3 img{
    scale:50%;
}

.choices-container{
    max-width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content:center ;
}

/* Customize the label (the container) */
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: small;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .container:hover input {
    background-color: #ccc;
  }
  
  .container input:checked {
    background-color: #2196F3;
  }
  
  


/* =======================  Question 4 ================================ */

#question4 p{
    font-size: small;
    font-weight: lighter;
    color:grey;
    padding-bottom:2px;
    margin-bottom:2px;
}
.answer-container input{
  padding: 0 10px;
  text-align: left;
  transition-property: box-shadow, background;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #DAE3F3;
  border-radius: 0px;
  color: #272C34;
  width: 100%;
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  height: 80px;
}

.answer-container input:hover{
      box-shadow: 0px 2px 4px rgb(39 44 52 / 12%);
      
  }

.answer-container input:focus{
      transition-property: border-color, box-shadow, background;
      border-color: #39414D;
      border-width: 1px;
      outline: 0px;
      box-shadow: 0 0 0 2px coral;
  }


  @media screen and (max-width:600px) {

    body{
        padding-top:0px;
    }
    .question-container.active{
        width:100%;
        padding:0px;
        scale:85%;
    }
    .question{
        font-size: 24px;
        scale:85%;
    }

    .question-container.active h1{
        font-size: 20px;
        
    }

    .right, .left, .left.selected, .right.selected, h1, {
        scale:85%;
    }
    .left.selected{
        padding-top:0px;
    }

    #answer-container{
        scale:70%;
    }
  }