

#progress-bar {
    width: 0%;
    height: 5px;
    background-color: coral;
    transition: width 1s;
}

.question-container {
    padding: 100px;
    display: none;
    transition: opacity 1s;
    max-width: 1200px;
    margin: auto;
    min-height: 200px;
    background-color: #ffffff;
    /* Change to white */
    overflow: auto;
    border-radius: 8px;
    /* Add a slight border radius */
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    /* Add a light box shadow */
    justify-content:center ;
}

.question-container.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    margin-top:5%;
    border-radius: 15%;
}

.question {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    padding:0;
    align-items: center;
    justify-content: space-around;
    border-bottom:coral solid 2px;
    padding-bottom:20px;
}


/* just to remove the first back button from first question  */
.back-button-fistOne {
    visibility: hidden;
}


button {
    background-color: #ff5722;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
    justify-content: start;
}

button:hover {

    background-color: #ff764d;
}

p {
    font-size: 28px;
    /* Increase font size */
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    /* Make the text bold */
}



.back-button {
    float: left;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 20px;
}

.back-button:hover {
    background-color: #efefef;

}

input[type="range"] {
    width: 90%;
    height: 15px;
    margin: 10px 10px;
}


hr{
    width: 50%;
}

/* =======================  Question 1 ================================ */
#budgetDisplay {
    font-size: 20px;
    color: #333;
    display: inline-block;
    margin-left: 10px;
}


.bar {
    padding: 0px 0px 0px 0px;
}


/* =======================  Question 2 ================================ */

.form-container{
display:flex;
flex-direction: column;
justify-content: center;

}
.core{
display:flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 20px;;
margin-bottom:20px;
border-bottom:dotted coral 2px;
justify-content: center;
}

.extra{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;;
    margin-bottom:20px;
    justify-content: center;
}

.card{
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    gap:4px;
    color:coral;
    font-weight: bold;
    margin:12px;
    border:solid black 1px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15%;
    padding:20px;
    transition:scale 0.5s;
}

.card:hover{
    scale:110%;
}

.card img {
    scale:80%;
    max-height: 138px;
    max-width: 138px;
}

form h1 {
    color:coral;
    text-align: center;
    text-shadow: 0px 1px 1px black;
}